PORT=


DATABASE_URL=


NEXTAUTH_URL=
NEXTAUTH_SECRET=


GITHUB_ID=
GITHUB_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_IMAGE_DOMAIN=
GIGHUB_IMAGE_DOMAIN=
CLOUDINARY_IMAGE_DOMAIN=

UPLOADTHING_APP_ID=
UPLOADTHING_SECRET=



PINECONE_INDEX=
PINECONE_ENVIROMENT=
PINECONE_API_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

OPEN_API_KEY=

REPLICATE_API_TOKEN=